
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/network-connections.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
  }
  